<mjml>
    <mj-head>
      <mj-title>3K Car Services</mj-title>
      <mj-preview>Form Field</mj-preview>
      <mj-attributes>
        <mj-all font-family="'Helvetica Neue', Helvetica, Arial, sans-serif"></mj-all>
        <mj-text font-weight="400" font-size="16px" color="#000000" line-height="24px" font-family="'Helvetica Neue', Helvetica, Arial, sans-serif"></mj-text>
      </mj-attributes>
      <mj-style inline="inline">
        .body-section {
        -webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15);
        }
      </mj-style>
      <mj-style inline="inline">
        .text-link {
        color: #5e6ebf
        }
      </mj-style>
      <mj-style inline="inline">
        .footer-link {
        color: #888888
        }
      </mj-style>
  
    </mj-head>
    <mj-body background-color="#E7E7E7" width="600px">
    
      <mj-section background-color="#FFFF">
        <mj-column width="100%">
          <mj-image src="https://i.ibb.co/DYhxvY2/3-Kon-Wheels-removebg-preview.png"  width="200px" alt="" padding="0" href="https://google.com" />
        </mj-column>
      </mj-section>
      <mj-wrapper padding-top="0" padding-bottom="0" css-class="body-section">
        <mj-section background-color="#ffffff" padding-left="15px" padding-right="15px">
          <mj-column width="100%">
            <mj-text color="#212b35" font-weight="bold" font-size="20px">
              Thank you for choosing us!
            </mj-text>
            <mj-text color="#637381" font-size="16px">
              We got your informotion,
            </mj-text>
            <mj-text color="#637381" font-size="16px">
              Please recheck the following details,
            </mj-text>
           
            <mj-text color="#637381" font-size="16px">
              <ul>
                <li style="padding-bottom: 20px"><strong>First name:</strong> 	example@gmail.com</li>
                <li style="padding-bottom: 20px"><strong>Last name:</strong> 	example@gmail.com</li>
                 <li style="padding-bottom: 20px"><strong>Email:</strong> 	example@gmail.com</li>
                 <li style="padding-bottom: 20px"><strong>Phone Number:</strong> 	example@gmail.com</li>
                 <li style="padding-bottom: 20px"><strong>Car Make:</strong> 	example@gmail.com</li>
                 <li style="padding-bottom: 20px"><strong>Car Model:</strong> 	example@gmail.com</li>
                <li style="padding-bottom: 20px"><strong>Car Year:</strong> 	example@gmail.com</li>
                <li style="padding-bottom: 20px"><strong>Address:</strong> 	example@gmail.com</li>
                
              </ul>
            </mj-text>
            <mj-text color="#637381" font-size="16px">
              Your request is received, We will get back to you soon. Thanks!
            </mj-text>
           
          </mj-column>
        </mj-section>
        
      </mj-wrapper>
  
      <mj-wrapper full-width="full-width">
        <mj-section>
          <mj-column width="100%" padding="0">      
        
            <mj-text color="#445566" font-size="11px" align="center" line-height="16px">
              &copy; 3k Car Service's, All Rights Reserved.
            </mj-text>
          </mj-column>
        </mj-section>
       
      </mj-wrapper>
  
    </mj-body>
  </mjml>